# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

*.eps

environment
pardiso.lic
data.files/
gmon.out
inla.model*
inla.model-*






*.o

*.so

*.pdf

test-speed/hydromet_dengue

test-speed/Mult-Sp-INLA/CLMFires_acc_specific.png

test-speed/Mult-Sp-INLA/CLMFires_accidental.png

test-speed/Mult-Sp-INLA/CLMFires_int_specific.png

test-speed/Mult-Sp-INLA/CLMFires_intentional.png

test-speed/Mult-Sp-INLA/CLMFires_lightning.png

test-speed/Mult-Sp-INLA/clmfires_mesh.png

test-speed/Mult-Sp-INLA/CLMFires_Other_specific.png

test-speed/Mult-Sp-INLA/CLMFires_other.png

test-speed/Mult-Sp-INLA/CLMFires_res_10.RData

test-speed/Mult-Sp-INLA/CLMFires_shared.png

test-speed/Mult-Sp-INLA/dismap_sim_data.RData

test-spline/points.txt

test-spline/spline.txt

test-spline/tt

test-link-gev/output
